.chrome-progress-bar-container {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 35px;
  height: 5px;
}

.chrome-progress-bar-container:not([aria-disabled=true]) {
  cursor: pointer;
}

.chrome-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 31;
  outline: none;
}

.chrome-scrubber-container {
  position: absolute;
  top: -4px;
  left: -6.5px;
  z-index: 43;
}

.chrome-scrubber-button {
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  transition: transform .1s cubic-bezier(0.4,0.0,1,1);
  transform: scale(0);
}

.chrome-scrubber-pull-indicator {
  position: absolute;
  z-index: 42;
  bottom: 16.9px;
  left: 6.5px;
  transform: rotate(45deg);
}

.chrome-scrubber-pull-indicator::before,
.chrome-scrubber-pull-indicator::after {
  transition: all .2s;
}

.chrome-scrubber-pull-indicator::before,
.chrome-scrubber-pull-indicator::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  width: 6.5px;
  height: 6.5px;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-color: #eaeaea;
}

.chrome-progress-list {
  z-index: 39;
  background: rgba(255,255,255,.2);
  height: 100%;
  transform: scaleY(0.6);
  transition: transform .1s cubic-bezier(0.4,0.0,1,1);
  position: relative;
}

.chrome-load-progress,
.chrome-play-progress,
.chrome-hover-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.chrome-play-progress {
  z-index: 34;
}

.chrome-load-progress {
  z-index: 33;
  background: rgba(255,255,255,.4);
}

.chrome-hover-progress {
  z-index: 35;
  background: rgba(0,0,0,.125);
  opacity: 0;
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.chrome-progress-bar-hover .chrome-hover-progress {
  opacity: 1;
}

.chrome-hover-progress.chrome-hover-progress--light {
  background: rgba(255,255,255,.5);
}

.chrome-swatch-background-color {
  background-color: #f00;
}

.chrome-progress-bar-padding {
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: 0;
  z-index: 28;
}

.chrome-progress-bar-container:hover:not([aria-disabled=true]) .chrome-progress-bar-padding {
  height: 22px;
  bottom: -6px;
}

.chrome-progress-bar-container:hover:not([aria-disabled=true]) .chrome-progress-list,
.chrome-progress-bar-container:hover:not([aria-disabled=true]) .chrome-scrubber-button {
  transform: none;
  transition: transform .1s cubic-bezier(0.0,0.0,0.2,1);
}

.chrome-big-mode .chrome-progress-bar-container {
  bottom: 52.5px;
  height: 8px;
}

.chrome-big-mode .chrome-progress-bar-padding {
  height: 24px;
}


.chrome-big-mode .chrome-progress-bar-container:hover:not([aria-disabled=true]) .chrome-progress-bar-padding {
  height: 33px;
  bottom: -9px;
}

.chrome-big-mode .chrome-scrubber-container {
  top: -6px;
  left: -10px;
}

.chrome-big-mode .chrome-scrubber-button {
  height: 20px;
  width: 20px;
  bottom: 20px;
  left: 10px;
  border-radius: 10px;
}

.chrome-big-mode .chrome-scrubber-pull-indicator::before,
.chrome-big-mode .chrome-scrubber-pull-indicator::after {
  width: 10px;
  height: 10px;
}

.chrome-big-mode .chrome-progress-list {
  transform: translateY(-.5px) scaleY(0.625);
}