@import '../../theme';

.chrome-settings-menu {
  display: block;
  position: absolute;
  right: 12px;
  bottom: 49px;
  bottom: var(--bottom-gradient-size);
  z-index: 71;
  will-change: width,height;
}

.chrome-big-mode .chrome-settings-menu {
  right: 24px;
  bottom: 70px;
}

.chrome-popup {
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
  background: rgba(28,28,28,0.9);
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1), width .08s cubic-bezier(0.4,0.0,1,1), height .08s cubic-bezier(0.4,0.0,1,1);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.chrome-popup[aria-hidden=true] {
  opacity: 0;
  transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
}

.chrome-popup[aria-hidden=true] .chrome-panel {
  display: none;
}

.chrome-panel-header {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  line-height: inherit;
  font-size: 109%;
  color: #eee;
  padding: 6px 0;
  height: 33px;
  white-space: nowrap;
}

.chrome-big-mode .chrome-panel-header {
  height: 49px;
}

.chrome-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .08s cubic-bezier(0.4,0.0,1,1);
  max-height: var(--max-popup-height);
}

.chrome-panel[aria-hidden=true] {
  opacity: 0;
  z-index: -1;
}

.chrome-panel-left {
  transform: translateX(-100%);
}

.chrome-panel-middle {
  transform: translateX(0);
}

.chrome-panel-right {
  transform: translateX(100%);
}

.chrome-panel-title {
  font-weight: 500;
  padding: 0 10px 0 35px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left 3px center;
  background-size: 32px 32px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNIDE5LjQxLDIwLjA5IDE0LjgzLDE1LjUgMTkuNDEsMTAuOTEgMTgsOS41IGwgLTYsNiA2LDYgeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
}

.chrome-panel-menu {
  padding: 6px 0;
  display: table;
  width: 100%;
  color: #eee;
  box-sizing: border-box;
}

.chrome-menuitem-label, .chrome-menuitem-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  white-space: nowrap;
}

.chrome-big-mode .chrome-menuitem-label, .chrome-big-mode .chrome-menuitem-content {
  padding: 0 22px;
}

.chrome-menuitem-label {
  font-size: 118%;
  font-weight: 500;
}

.chrome-menuitem-content {
  font-size: 109%;
  text-align: right;
}

.chrome-menuitem {
  display: table-row;
  cursor: default;
  outline: none;
  height: 33px;
}

.chrome-big-mode .chrome-menuitem {
  height: 49px;
}

.chrome-menuitem:not([aria-disabled=true]) {
  cursor: pointer;
}

.chrome-menuitem:not([aria-disabled=true]):hover {
  background-color: rgba(255,255,255,.1);
}

.chrome-menuitem-toggle-checkbox {
  height: 14px;
  width: 36px;
  float: right;
  position: relative;
  border-radius: 14px;
  background: rgba(255,255,255,0.3);
  transition: all .08s cubic-bezier(0.4,0.0,1,1);
  transform: scale(1);
}

.chrome-big-mode .chrome-menuitem-toggle-checkbox {
  height: 21px;
  width: 54px;
  border-radius: 21px;
}

.chrome-menuitem-toggle-checkbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-top: -3px;
  background-color: #bdbdbd;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.6);
  transition: all .08s cubic-bezier(0.4,0.0,1,1);
}

.chrome-big-mode .chrome-menuitem-toggle-checkbox:after {
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-top: -4.5px;
}

.chrome-menuitem[aria-checked=true] .chrome-menuitem-toggle-checkbox {
  background-color: #f78b24;
  background-color: var(--primary-color);
}

.chrome-menuitem[aria-checked=true] .chrome-menuitem-toggle-checkbox:after {
  background-color: #fff;
  transform: translateX(16px);
}

.chrome-big-mode .chrome-menuitem[aria-checked=true] .chrome-menuitem-toggle-checkbox:after {
  transform: translateX(24px);
}

.chrome-menuitem[role=menuitemradio] .chrome-menuitem-label {
  padding-left: 35px;
  padding-right: 20px;
  border-bottom: none;
}

.chrome-big-mode .chrome-menuitem[role=menuitemradio] .chrome-menuitem-label {
  padding-left: 52px;
  padding-right: 35px;
}

.chrome-menuitem[role=menuitemradio][aria-checked=true] .chrome-menuitem-label {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 18px 18px;
}

.chrome-big-mode .chrome-menuitem[role=menuitemradio][aria-checked=true] .chrome-menuitem-label {
  background-position: left 15px center;
  background-size: 27px 27px;
}

.chrome-menuitem[aria-haspopup=true] .chrome-menuitem-content {
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 32px 32px;
  padding-right: 38px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJtIDEyLjU5LDIwLjM0IDQuNTgsLTQuNTkgLTQuNTgsLTQuNTkgMS40MSwtMS40MSA2LDYgLTYsNiB6IiBmaWxsPSIjZmZmIiAvPjwvc3ZnPg==);
}

.chrome-big-mode .chrome-menuitem[aria-haspopup=true] .chrome-menuitem-content {
  background-position: right 13px center;
  background-size: 48px 48px;
  -moz-background-size: 48px 48px;
  -webkit-background-size: 48px 48px;
  padding-right: 57px;
}