.html5-player {
  position: relative;
  width: 640px;
  height: 360px;
  background-color: #000;
  overflow: hidden;
  outline: 0;
  font-family: "Noto Sans",Roboto,Arial,Helvetica,sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}
.html5-player.html5-player--wide {
  width: 960px;
  height: 540px;
}

.html5-player a {
  color: inherit;
  text-decoration: none;
  transition: color .1s cubic-bezier(0.0,0.0,0.2,1);
  outline: 0;
}

.html5-player a:hover {
  color: #fff;
  transition: color .1s cubic-bezier(0.4,0.0,1,1);
}

.html5-player--big-mode {
  font-size: 17px;
}

.html5-player--auto-hide {
  cursor: none;
}

.html5-player--auto-hide .html5-player__chrome,
.html5-player--auto-hide .html5-player__gradiant {
  opacity: 0;
  transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
}

.html5-player.html5-player--fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.html5-player__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  text-align: center;
}

.html5-player__video video {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.html5-player__subtitles {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

@keyframes html5-player-bezel-fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.html5-player__bezel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  z-index: 19;
  margin-left: -26px;
  margin-top: -26px;
  background: rgba(0,0,0,.5);
  border-radius: 26px;
  animation-play-state: running;
  animation: html5-player-bezel-fadeout .5s linear 1 normal forwards;
  pointer-events: none;
}

.html5-player--big-mode .html5-player__bezel {
  width: 78px;
  height: 78px;
  margin-left: -39px;
  margin-top: -39px;
  border-radius: 39px;
}

.html5-player__bezel-icon {
  width: 36px;
  height: 36px;
  margin: 8px;
}

.html5-player--big-mode .html5-player__bezel-icon {
  width: 54px;
  height: 54px;
  margin: 12px;
}

.html5-player svg {
  pointer-events: none;
}

.html5-player__chrome {
  position: absolute;
  bottom: 0;
  height: 36px;
  left: 12px;
  width: calc(100% - 24px);
  z-index: 60;
  padding-top: 3px;
  text-align: left;
  direction: ltr;

  color: #ffffff;
  text-shadow: 0 0 2px rgba(0,0,0,.5);

  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-player--big-mode .html5-player__chrome {
  width: calc(100% - 48px);
  left: 24px;
  height: 54px;
  padding-top: 4px;
}

.html5-player__controls {
  height: 36px;
  line-height: 36px;
  font-size: 109%;
  text-align: left;
  direction: ltr;
}

.html5-player--big-mode .html5-player__controls {
  height: 54px;
  line-height: 54px;
}

.html5-player__controls-left {
  float: left;
  height: 100%;
}

.html5-player__controls-right {
  float: right;
  height: 100%;
}

.html5-player__time {
  font-size: 109%;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  white-space: nowrap;
  line-height: 35px;
}

.html5-player--big-mode .html5-player__time {
  line-height: 53px;
}

.html5-player__time-separator,
.html5-player__time-duration {
  color: #dddddd;
}

.html5-player__gradiant {
  height: 98px;
  width: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  pointer-events: none;
}

.html5-player--big-mode .html5-player__gradiant {
  height: 146px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEmCAYAAACjy/qzAAAAhklEQVQ4y52RUQ6AMAxCKd7/JJ7R6aeJAdr507TjQZqOAE4CWARwx7JE944rch/k6qOWS7bq5bh72zGF8+LTa6goJeRPgXDYNxWFfkS0QXCInLIN1GxTXA0dtS0otWJnuXJR1Y9WYP9GF1UCYRQYHRSlXMARbVO4th3sd7Y3OP5dY3Bn+SkPsGJ1+HGGVtcAAAAASUVORK5CYII=)
}

.html5-player__gradiant--bottom {
  bottom: 0;
  z-index: 22;
  background-position: bottom;
}

.html5-player__progress-bar-container {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 35px;
  height: 5px;
  cursor: pointer;
}

.html5-player--big-mode .html5-player__progress-bar-container {
  bottom: 52.5px;
  height: 8px;
}

.html5-player-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 31;
  outline: none;
}

.html5-player-progress-padding {
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: 0;
  z-index: 28;
}

.html5-player--big-mode .html5-player-progress-padding {
  height: 24px;
}

.html5-player-progress__list {
  z-index: 39;
  background: rgba(255,255,255,.2);
  height: 100%;
  transform: scaleY(0.6);
  transition: transform .1s cubic-bezier(0.4,0.0,1,1);
  position: relative;
}

.html5-player--big-mode .html5-player-progress__list {
  transform: translateY(-.5px) scaleY(0.625);
}

.html5-player-progress--hover .html5-player-progress__list,
.html5-player-progress--hover .html5-player-progress__scrubber-btn {
  transform: none;
  transition: transform .1s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-player-progress--hover .html5-player-progress__hover {
  opacity: 1;
}

.html5-player-progress__progress,
.html5-player-progress__buffering,
.html5-player-progress__hover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.html5-player-progress__progress {
  z-index: 34;
  background-color: #f12b24;
}

.html5-player-progress__buffering {
  z-index: 33;
  background: rgba(255,255,255,.4);
}

.html5-player-progress__hover {
  z-index: 35;
  background: rgba(255,255,255,.5);
  opacity: 0;
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-player-progress__scrubber-container {
  position: absolute;
  top: -4px;
  left: -6.5px;
  z-index: 43;
}

.html5-player--big-mode .html5-player-progress__scrubber-container {
  top: -6px;
  left: -10px;
}

.html5-player-progress__scrubber-btn {
  background-color: #f12b24;
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  transition: transform .1s cubic-bezier(0.4,0.0,1,1);
  transform: scale(0);
}

.html5-player--big-mode .html5-player-progress__scrubber-btn {
  bottom: 20px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.html5-player-progress__scrubber {
  position: absolute;
  z-index: 42;
  bottom: 16.9px;
  left: 6.5px;
  transform: rotate(45deg);
}

.html5-player-progress__scrubber::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  width: 6.5px;
  height: 6.5px;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-color: #eaeaea;
  transition: all .2s;
}

.html5-player-progress__scrubber::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  width: 6.5px;
  height: 6.5px;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-color: #eaeaea;
  transition: all .1s;
}

.html5-player--big-mode .html5-player-progress__scrubber::before,
.html5-player--big-mode .html5-player-progress__scrubber::after {
  width: 10px;
  height: 10px;
}

.html5-player__button,
.html5-player__button:focus {
  outline: 0;
}

.html5-player__button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: default;
  line-height: inherit;
  cursor: pointer;
}

.html5-player__controls .html5-player__button {
  height: 100%;
}

.html5-player__controls .html5-player__button {
  opacity: .9;
  display: inline-block;
  width: 36px;
  transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
  overflow: hidden;
}

.html5-player--big-mode .html5-player__controls .html5-player__button {
  width: 54px;
}

.html5-player__controls .html5-player__button:hover {
  opacity: 1;
  transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-player__controls .html5-player__play-btn {
  width: 46px;
}

.html5-player--big-mode .html5-player__controls .html5-player__play-btn {
  width: 69px;
}

.html5-player__play-btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 12px;
  position: absolute;
  top: 0;
  left: -12px;
}

.html5-player__fullscreen-btn-corner-0,
.html5-player__fullscreen-btn-corner-1,
.html5-player__fullscreen-btn-corner-2,
.html5-player__fullscreen-btn-corner-3 {
  transform: none;
}

.html5-player__fullscreen-btn:hover .html5-player__fullscreen-btn-corner-0 {
  animation: html5-player-fullscreen-button-corner-0-animation .4s cubic-bezier(0.4,0.0,0.2,1);
}

.html5-player__fullscreen-btn:hover .html5-player__fullscreen-btn-corner-1 {
  animation: html5-player-fullscreen-button-corner-1-animation .4s cubic-bezier(0.4,0.0,0.2,1);
}

.html5-player__fullscreen-btn:hover .html5-player__fullscreen-btn-corner-2 {
  animation: html5-player-fullscreen-button-corner-2-animation .4s cubic-bezier(0.4,0.0,0.2,1);
}

.html5-player__fullscreen-btn:hover .html5-player__fullscreen-btn-corner-3 {
  animation: html5-player-fullscreen-button-corner-3-animation .4s cubic-bezier(0.4,0.0,0.2,1);
}

.html5-player__fullscreen-btn::after {
  content: '';
  display: block;
  height: 100%;
  width: 12px;
  position: absolute;
  top: 0;
  left: 100%;
}

.html5-player--big-mode .html5-player__fullscreen-btn::after {
  width: 24px;
}

@keyframes html5-player-fullscreen-button-corner-0-animation {
  50% {
    transform: translate(-1px, -1px);
  }
}

@keyframes html5-player-fullscreen-button-corner-1-animation {
  50% {
    transform: translate(1px, -1px);
  }
}

@keyframes html5-player-fullscreen-button-corner-2-animation {
  50% {
    transform: translate(1px, 1px);
  }
}

@keyframes html5-player-fullscreen-button-corner-3-animation {
  50% {
    transform: translate(-1px, 1px);
  }
}

.html5-player-tooltip {
  position: absolute;
  z-index: 1002;
  font-size: 118%;
  font-weight: 500;
  line-height: 15px;
  opacity: 0;
  transition: transform .1s cubic-bezier(0.0,0.0,0.2,1),opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  pointer-events: none;
}

.html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview {
  width: 312px;
}

.html5-player--big-mode .html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview {
  width: 457px;
}

.html5-player--big-mode .html5-player-tooltip {
  line-height: 22px;
}

.html5-player-tooltip:not([aria-hidden=true]) {
  opacity: 1;
  transform: none;
  transition: transform .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
}

.html5-player-tooltip.html5-player-tooltip--preview {
  padding: 2px;
  background-color: rgba(28,28,28,0.9);
  border-radius: 2px;
}

.html5-player-tooltip__bg {
  background-color: #000;
  background-repeat: no-repeat;
  position: relative;
  display: none;
}

.html5-player-tooltip.html5-player-tooltip--preview .html5-player-tooltip__bg {
  display: block;
}

.html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview .html5-player-tooltip__bg {
  float: left;
}

.html5-player-tooltip__duration {
  display: none;
}

.html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview.html5-player-tooltip--has-duration .html5-player-tooltip__duration {
  display: block;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: rgba(28,28,28,0.9);
  padding: 2px 4px;
}

.html5-player-tooltip__text-wrapper {
  border-radius: 3px;
}

.html5-player-tooltip.html5-player-tooltip--preview:not(.html5-player-tooltip--text-detail) .html5-player-tooltip__text-wrapper {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview .html5-player-tooltip__text-wrapper {
  padding: 0 9px;
  margin: 4px 0;
  overflow: hidden;
  max-height: 46px;
}

.html5-player-tooltip__image {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 2px;
  left: 7px;
  background-size: contain;
}

.html5-player--big-mode .html5-player-tooltip__image {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  top: 3px;
  left: 10px;
}

.html5-player-tooltip__title {
  display: none;
}

.html5-player-tooltip.html5-player-tooltip--text-detail .html5-player-tooltip__title {
  display: block;
  color: #aaa;
  text-transform: uppercase;
}

.html5-player-tooltip__text {
  display: block;
  background-color: rgba(28,28,28,0.9);
  border-radius: 2px;
  padding: 5px 9px;
}

.html5-player-tooltip.html5-player-tooltip--preview .html5-player-tooltip-text {
  display: inline;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.html5-player-tooltip.html5-player-tooltip--text-detail.html5-player-tooltip--preview .html5-player-tooltip__text {
  background-color: transparent;
  padding: 0;
}

.html5-player-volume-panel {
  display: inline-block;
  width: 0;
  height: 100%;
  transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
  cursor: pointer;
  outline: 0;
}

.html5-player-volume-panel.html5-player-volume-panel--active {
  width: 52px;
  margin-right: 3px;
  transition: margin .2s cubic-bezier(0.0,0.0,0.2,1),width .2s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-player--big-mode .html5-player-volume-panel.html5-player-volume-panel--active {
  width: 78px;
  margin-right: 5px;
}

.html5-player-volume-slider {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.html5-player-volume-slider__handle {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-top: -6px;
  background: #fff;
}

.html5-player--big-mode .html5-player-volume-slider__handle {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-top: -9px;
}

.html5-player-volume-slider__handle:before,
.html5-player-volume-slider__handle:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 3px;
  margin-top: -2px;
  width: 64px;
}

.html5-player--big-mode .html5-player-volume-slider__handle:before,
.html5-player--big-mode .html5-player-volume-slider__handle:after {
  height: 4px;
  margin-top: -2px;
  width: 96px;
}

.html5-player-volume-slider__handle:before {
  left: -58px;
  background: #fff;
}

.html5-player--big-mode .html5-player-volume-slider__handle:before {
  left: -87px;
}

.html5-player-volume-slider__handle:after {
  left: 6px;
  background: rgba(255,255,255,.2);
}

.html5-player--big-mode .html5-player-volume-slider__handle:after {
  left: 9px;
  background: rgba(255,255,255,.2);
}

.html5-player--fullscreen .html5-player__size-btn {
  display: none;
}