@import "./chromeless-player";
@import "./chrome/index";
@import "./cued-thumbnail";
@import "./gradient";
@import "../theme";

#content > .html5-video-player {
  width: 100%;
  height: 100%;
}

.html5-video-player {
  @each $name, $value in $theme {
    --#{$name}: #{$value};
  }

  position: relative;
  width: 640px;
  height: 360px;
  background-color: #000000;
  overflow: hidden;
  outline: 0;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
  contain: strict;
  -ms-high-contrast-adjust: none;

  &--large {
    width: 960px;
    height: 540px;
  }

  &--fullscreen {
    width: 100%;
    height: 100%;
  }

  & svg {
    pointer-events: none;
  }
}

.chrome-big-mode {
  font-size: 17px;
}

.html5-video-player.html5-video-player--autohide:not(.html5-video-player--preview) {
  cursor: none;
}

.html5-video-action {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#showmedia_video_box {
  width: 640px;
  height: 360px;
  display: block;
  background-color: black;
  
  &_wide {
    width: 960px;
    height: 540px;
    display: block;
    background-color: black;
  }
}

.html5-loading-text {
  color: white;
  visibility: visible;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}